
.p1{
  color: Red;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc5PGV-GK2hUPCbg4Vq6G4LIW8FgMf6mZ9CQ&usqp=CAU);
  background-position: center;
  background-origin: content-box;
}
.p2{
  color: Red;
  background-image: url(http://i.imgur.com/9VVpZAo.jpg);
  background-position: center;
  background-origin: content-box;
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-image: url(https://nuames-cs.github.io/web-dev-Spartantrap1703/personal%20stuff/sivawebsite/pictures/searchbutton.png);
  background-position: center;
  padding: 10px 15px;
  {border-radius: 50%;}
}
.openbtn {border-radius: 50%;}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
body {
  font-family: "Times New Roman", Times, serif;
  background-image:url(sivawebsite\sivabackgroundfinished.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 14pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: white;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}
h1 {
  font: 18pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

h3 {
  font: 16pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

p.subheader {
  font-weight: bold;
  color: #593d87;
}

img {
  padding: 3pt;
  float: right;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: grey;
}

a:hover, a:active {
  color: silver;
}

footer {
  font-size: 12pt;
  line-height:normal;
  text-align: center;
  padding-top: 30pt;
  color: white;
}

button {
 border: none;
 color: white;
 padding: 10px 24px;
 text-align: center;
 text-decoration-line: underline;
 text-decoration-style: double;
 text-decoration-color:blue;
 display: inline-block;
 font-size: 12px;
background-color: #f44336; /* Red */
border-radius: 50%;
}


.p1{
  color: Red;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc5PGV-GK2hUPCbg4Vq6G4LIW8FgMf6mZ9CQ&usqp=CAU);
  background-position: center;
  background-origin: content-box;
}
.p2{
  color: Red;
  background-image: url(http://i.imgur.com/9VVpZAo.jpg);
  background-position: center;
  background-origin: content-box;
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-image: url(searchbutton.png);
  background-position: center;
  padding: 10px 15px;
  {border-radius: 50%;}
}
.openbtn {border-radius: 50%;}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
body {
  font-family: "Times New Roman", Times, serif;
  background-image:url(sivabackgroundfinished.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 14pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: white;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}
h1 {
  font: 18pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

h3 {
  font: 16pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

p.subheader {
  font-weight: bold;
  color: #593d87;
}

img {
  padding: 3pt;

}


a {
  text-decoration: none;
}

a:link, a:visited {
  color: grey;
}

a:hover, a:active {
  color: silver;
}

footer {
  font-size: 12pt;
  line-height:normal;
  text-align: center;
  padding-top: 30pt;
  color: white;
}

button {
 border: none;
 color: white;
 padding: 10px 24px;
 text-align: center;
 text-decoration-line: underline;
 text-decoration-style: double;
 text-decoration-color:blue;
 display: inline-block;
 font-size: 12px;
background-color: #f44336; /* Red */
border-radius: 50%;
}
.list {
 padding: inherit;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
